*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:"Inter",sans-serif;

background:white;

background-size:cover;

background-position:center;

background-attachment:fixed;

min-height:100vh;

color:black;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 80px;

}

.logo{

font-family:"Playfair Display",serif;

font-size:40px;

}

nav ul{

display:flex;

gap:35px;

list-style:none;

}

nav a{

color:white;

text-decoration:none;

}

.profile-container{

display:flex;

justify-content:center;

align-items:center;

height:85vh;

}

.profile-card{

width:550px;

padding:60px;

border-radius:35px;



backdrop-filter:blur(16px);

text-align:center;

box-shadow:0 20px 40px rgba(0,0,0,.35);

}

.avatar{

width:120px;

height:120px;

border-radius:50%;

background:black;

display:flex;

justify-content:center;

align-items:center;

font-size:55px;

margin:auto;

margin-bottom:25px;

}

#username{

font-size:40px;

font-family:"Playfair Display",serif;

}

#email{

margin-top:8px;

opacity:.8;

}

.stats{

display:flex;

justify-content:space-around;

margin-top:45px;

margin-bottom:45px;

}

.stat h2{

font-size:40px;

color:#f5d6bf;

}

.stat span{

opacity:.8;

}

.buttons{

display:flex;

flex-direction:column;

gap:18px;

}

button{

height:55px;

border:none;

border-radius:30px;

background:black;

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#6b2216;

transform:translateY(-2px);

}

.logout{

background:#444;

}

.logout:hover{

background:#222;

}