
        .topbar{
            display:grid;
            grid-template-columns: repeat(7, max-content)  repeat(3, max-content); 
            gap: 20px;
            height: 80px;
            align-items: center;
            border-bottom: 2px solid black ;
            margin-bottom: 30px;
        }
        .Buttons{
            height:45px;
            width:50px;
            align-items: center;
            border:none;
            background-color:transparent;
        }
        .logo{
            font-size: 35px;
            font-weight: bold;
            margin-left:10px;
            margin-right:10px;
        }
        .interests{
            
            margin-top:10px;
            margin-bottom:10px;
            font-size: 20px;
            border:none;
            background-color: transparent;
        }  
        button:hover{
            background-color: lightgray;
            cursor: pointer;
        }
        .newsletter{
            height:25px;
            width:120px;
            margin-top:10px;
            margin-bottom:10px;
            font-size: 15px;
            border:none;
            background-color: transparent;
            
        }
        .search-bar{
            height:30px;
            width:100%;
            display: flex;
            align-items: center;
         }
        .profile{
            height:50px;
            width:50px;
            border:none;
            background-color: transparent;  
        }
        .container {
            height:350px;
            width:1000px;
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 15px;
            padding: 20px;
            justify-self: center;
            box-shadow: 0 8px 18px rgba(0, 0, 0, 0.253);
            margin:25px;
        }
        .verticalcontain{
            display: flex;
            gap:10px;
            width:635px;
            flex-direction: column;
        }
        .picture{
            height:300px;
            width:300px;
            background-color: lightgray;
        }
        .title{
            height:75px;
            font-size: 25px;
            width:100%;
        }
        .authors{
            height:30px;
            width:100%;
            font-size: 18px;
            color: gray;
        }
        .summary{
            height:170px;
            width:100%;
            font-size: 20px;
        }
        .date{
            height:20px;
            width:100%;
            font-size: 15px;
            color: gray;
        }
        .category{
            height:20px;
            width:100%;
        }